.ddd
	.owl-carousel.reviews-carousel
		.reviews-item
			header.reviews-item__header
				.reviews-item__name Инна Анатолиевна
				date.reviews-item__date 29.12.2015
		.reviews-item
			header.reviews-item__header
				.reviews-item__name Инна Анатолиевна
				date.reviews-item__date 29.12.2015
		.reviews-item
			header.reviews-item__header
				.reviews-item__name Инна Анатолиевна
				date.reviews-item__date 29.12.2015
		.reviews-item
			header.reviews-item__header
				.reviews-item__name Инна Анатолиевна
				date.reviews-item__date 29.12.2015
	#navigation-items
		svg.icon.home-icon-left
			use(xlink:href="img/sprite.svg#left-arrow")
		svg.icon.home-icon-right
			use(xlink:href="img/sprite.svg#right-arrow")