.home#home
	header.main-header
		.container
			.main-header__wrapper
				a.main-header__logo(href="#") Computer
				nav.main-header__navigation
					ul
						li.header-active
							a(href="#home").js-anchor-link home
						li 
							a(href="#about").js-anchor-link blog
						li
							a(href="#contacts").js-anchor-link home
						li 
							a(href="#services").js-anchor-link about
						li 
							a(href="#services").js-anchor-link about
						li 
							a(href="#services").js-anchor-link about
						li 
							a(href="#services").js-anchor-link about
				.responsive-menu
					.responsive-menu__hamburger
				.responsive-menu__overlay



