doctype html
html(lang='zxx')
	head
		meta(charset="UTF-8")
		meta(http-equip="X-UA-Compatible", content="IE=edge")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title Bussiness
	body

		include sections/header
		include sections/carousel

		
		img(src="")

		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet" href="css/main.css")
		script(src="js/libs.min.js")
		script(src="js/common.js")
